<div id="wrapper-sec">
  <div id="left-border-gradient"></div>
  <div class="main-sec">
    <div class="wrap-images">
      <%= image_tag "flare.png", :id => 'flare'%>
      <%= image_tag "cs-logo.png", :id => 'logo', :width => '904', :height => '442' %>
    </div>
    <div class="wrap-text">
      <p style="font-family: 'Vidaloka', 'Times New Roman', serif;">Excitement is on the rise for only the most passionate collectors</p>
      <p>welcome to</p>
      <%= image_tag "cs-logo-text.png", :width => '297', :height => '40'%>
    </div>
    <div class="wrap-buttons">
      <div id="left-wrapper-btns">
        <button onclick="location.href = 'home_guest';" type="button" name="button">GUEST ACCESS</button>
      </div>
      <div id="right-wrapper-btns">
        <%= form_for(:session, url: vip_entrance_path) do |f| %>
        <div class="ff-container">
          <%= f.submit "VIP MEMBERS" %>
        </div>
        <div class="ff-container">
          <%= f.text_field :code, placeholder: "enter your code", class: "login-form" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="right-border-gradient"></div>
</div>
