<%= stylesheet_link_tag "become" %>

<style media="screen">
  body{
    /* height: unset; */
    display: unset;
    /* background: url('assets/background2.jpg'); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* align-items: center; */
  }
</style>



<div id="bc-wrapper-1">
  <div id="wrapper-sec">
    <div id="left-border-gradient"></div>
    <div class="bc-float-logo"><%= image_tag "cs-logo-text.png", :id => 'cs-logo-text'%></div>
    <div class="main-sec">
      <div class="wrap-images">
        <%= image_tag "flare.png", :id => 'flare'%>
        <%= image_tag "cs-logo.png", :id => 'logo', :width => '904', :height => '442' %>
      </div>
      <div class="wrap-text">
        <p>Excitement is on the rise for only the most passionate collectors</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      </div>
    </div>
    <div id="bc-arrow"><%= image_tag "arrow.png"%></div>
    <div id="right-border-gradient"></div>
  </div>
</div>
<div id="bc-wrapper-2">
  <div class="text-paragraph">
    <h2 class="title-paragraph">Your Passion</h2>
    <p class="content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="text-paragraph">
    <h2 class="title-paragraph">Your Space</h2>
    <p class="content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
