<%= stylesheet_link_tag "become" %>

<style media="screen">
  body{
    /* height: unset; */
    display: unset;
    /* background: url('assets/background2.jpg'); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* align-items: center; */
  }
  #footer {
    padding-top: 2.5%;
  }
</style>



<div id="bc-wrapper-1">
  <div id="wrapper-sec">
    <div id="left-border-gradient"></div>
    <div class="bc-float-logo"><%= image_tag "cs-logo-text.png", :id => 'cs-logo-text'%></div>
    <div class="main-sec">
      <div class="wrap-images">
        <%= image_tag "cs-logo.png", :id => 'logo', :width => '904', :height => '442' %>
      </div>
      <div class="wrap-text">
        <p style="font-family: 'Vidaloka', 'Times New Roman', serif;">Excitement is on the rise for only the most passionate collectors</p>
        <p>BE AMONGST THE FIRST TO KNOW OF PROJECT UPDATES AS THEY BECOME AVAILABLE</p>
      </div>
    </div>
    <a id="bc-arrow" href="#bc-wrapper-2"><%= image_tag "arrow.png"%></a>
    <div id="right-border-gradient"></div>
  </div>
</div>
<div id="bc-wrapper-2">
  <div class="text-paragraph">
    <h2 class="title-paragraph">Your Passion</h2>
    <p class="content-paragraph">Welcome to Collection Suites, an unprecedented luxury space to house your most treasured collections. Created by collectors, for collectors, our suites allow your passion to prosper in an environment of comfort and
    confidence. An app-controlled security system and smart home software simplify maintenance and storage, elevating service to a level that is truly unsurpassed.
    </p>
  </div>
  <div class="text-paragraph">
    <h2 class="title-paragraph">Your Space</h2>
    <p class="content-paragraph">Outfitted to reflect your unique tastes, each suite offers a living space specifically designed for you as an individual, a luxury lover and a collector. <br>Rising from the heart of Miami, Collection Suites is connected to the energy of the city, yet secluded enough to exist as your own private sanctuary.</p>
  </div>
</div>
<div id="bc-wrapper-3">
  <div id="bottles-section">
    <div class="text-paragraph">
      <h2 class="title-paragraph">Your Taste</h2>
      <p class="content-paragraph no-margin">Every aspect has been designed to satisfy your penchant for artful living, with customized finishes to envelop you and your guests in luxury at every turn. Complemented by heightened security systems, personalized features preserve your privacy while granting you the freedom to enjoy and entertain at your leisure.
      </p>
      <h2 class="title-paragraph-2">Here, we believe the way you preserve your collection is as important as the collection itself.</h2>
    </div>
  </div>
  <footer id="footer">
    <div class="wrapper-footer">
    <%= image_tag "cs-membership-card.png", :width => '300'%>
      <!-- <img src="/assets/cs-membership-card.png" alt="collection suites membership card" width="300"> -->
      <div class="wrapper">
        <div style="text-align:right;">
          <a href="https://www.instagram.com/collectionsuites/"><%= image_tag "instagram.png", :width => '35'%></a>
        </div>
        <h2>VIP MEMBERS</h2>
        <p>You have received a personalized card to VIP membership at Collection Suites, which recognizes you as a part of this elite group. Simply enter your code online to be granted access to our grand opening event, thus ensuring that you are among the first to know of project updates as they become available.</p>
      </div>
    </div>
  </footer>
</div>
